name: Build and Push Docker Image

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Docker tag
        id: docker_tag
        run: |
          if [ -z "${{ github.event.release.tag_name }}" ]; then
            echo "tag=nightly" >> "$GITHUB_OUTPUT"
          else
            echo "tag=${{ github.event.release.tag_name }}" >> "$GITHUB_OUTPUT"
          fi

      - name: Set lowercase image name
        id: image
        run: |
          IMAGE_NAME="ghcr.io/${GITHUB_REPOSITORY,,}:${{ steps.docker_tag.outputs.tag }}"
          echo "name=$IMAGE_NAME" >> "$GITHUB_OUTPUT"

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ steps.image.outputs.name }} .

      - name: Push Docker image
        run: |
          docker push ${{ steps.image.outputs.name }}
